

/* Start:/bitrix/templates/site/components/bitrix/eshop.socnet.links/soc_network/style.css?15973874141038*/
.bx-socialsidebar {
	margin: 10px 0;
}
.bx-socialsidebar .bx-block-title {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #343434;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 9px;
	font-weight: 600;
}
.bx-socialsidebar-group {}
.bx-socialsidebar-group ul {
	padding: 0;
	margin: 0;
	display: block;
}
.bx-socialsidebar-group ul li {
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-right: 5px;
}
.bx-socialsidebar-group ul li a {
	display: block;
	width: 35px;
	height: 35px;
	background-image: url(/bitrix/templates/site/components/bitrix/eshop.socnet.links/soc_network/images/sprite.png);
	background-repeat: no-repeat;
	/*opacity: .8;*/
	border-bottom: none;
}
.bx-socialsidebar-group ul li a.fb {background-position: 0 0}
.bx-socialsidebar-group ul li a.gp {background-position: -44px 0}
.bx-socialsidebar-group ul li a.tw {background-position: -88px 0}
.bx-socialsidebar-group ul li a.vk {background-position: -132px 0}
.bx-socialsidebar-group ul li a.in {background-position: -176px 0}
.bx-socialsidebar-group ul li a:hover {opacity: .9;}
/* End */


/* Start:/bitrix/templates/site/components/bitrix/news/slider/bitrix/news.list/.default/style.css?1597067638150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/site/components/bitrix/news/video/bitrix/news.list/.default/style.css?1597066605150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/site/components/bitrix/news/advantages/bitrix/news.list/.default/style.css?1597064115150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/site/components/bitrix/news/service/bitrix/news.list/.default/style.css?1597061011150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/site/components/bitrix/news/gallery/bitrix/news.list/.default/style.css?1597055691150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/site/components/bitrix/news/rates/bitrix/news.list/.default/style.css?1597053262150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/site/components/bitrix/eshop.socnet.links/soc_network/style.css?15973874141038 */
/* /bitrix/templates/site/components/bitrix/news/slider/bitrix/news.list/.default/style.css?1597067638150 */
/* /bitrix/templates/site/components/bitrix/news/video/bitrix/news.list/.default/style.css?1597066605150 */
/* /bitrix/templates/site/components/bitrix/news/advantages/bitrix/news.list/.default/style.css?1597064115150 */
/* /bitrix/templates/site/components/bitrix/news/service/bitrix/news.list/.default/style.css?1597061011150 */
/* /bitrix/templates/site/components/bitrix/news/gallery/bitrix/news.list/.default/style.css?1597055691150 */
/* /bitrix/templates/site/components/bitrix/news/rates/bitrix/news.list/.default/style.css?1597053262150 */
