.header {
  margin-bottom: 0;
  position: fixed;
  z-index: 23;
  width: auto;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  .btn_show_nav {
    display: block;
  }
  .nav {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #599bcb;
    display: none;
    &.is_active {
      display: block;
    }
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('../../images/wave.png');
      opacity: 0.3;
    }
    .container-fluid, .row {
      height: 100%;
    }
    &__list {
      padding-top: 100px;
      padding-bottom: 50px;
      padding-left: 0;
      padding-right: 0;
      height: 100%;
      flex-direction: column;
      justify-content: space-around;
    }
    &__link {
      padding-bottom: 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      line-height: 40px;
      line-height: 1;
      text-transform: uppercase;
      /* Text style for "Летняя рез" */
      letter-spacing: 1.11px;
    }
  }
  .logo {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    width: 44px;
    height: 44px;
    .link {
      background-image: url('../../images/logo_white.svg');
    }
  }
  &.dark {
    width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 27px;
    .logo {
      opacity: 0.9;
      top: 20px;
      .link {
        background-image: url('../../images/logo.svg');
      }
    }
    .btn_show_nav {
      opacity: 0.9;
      .line {
        &, &:after, &:before {
          background-color: #003e6b;
        }
      }
      &.is_active {
        .line {
          background-color: transparent;
        }
      }
    }
  }
  &.white {
    .logo {
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 11;
    }
    .nav {
      background-color: #599bcb;
    }
    &.dark {
      .nav {
        background-color: #599bcb;
      }
      .logo {
        position: fixed;
        opacity: 0.9;
        left: 50%;
        width: 44px;
      }
    }
  }
}