@media all and (max-width: 1440px) {
  .container {
    max-width: calc(100% - 120px);
  }
}

.overflow-none {
  overflow: hidden;
}

.opacity {
  opacity: 0;
}

.parallax-mirror {
  z-index: 0 !important;
}

.img_wrap {
  position: relative;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  // transition: all 0.1s ease;
}

.container-fluid {
  max-width: 1560px;
}

.mobile_only {
  display: none;
}

.bg_waves {
  z-index: -1;
  background-image: url('../../images/wave.jpg');
  &.mobile_only {
    display: none;
  }
}

.bg_circles {
  z-index: -1;
  background-image: url('../../images/circles.jpg');
}


.input {
  height: 60px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  padding-left: 31px;
  padding-right: 31px;
  border: none;
  &.textarea {
    padding-top: 28px;
    height: auto;
  }
}

.input_wrap {
  width: 100%;
}

.input_wrap {
  position: relative;
  .input {
    color: #003f6b;
    &::placeholder {
      color: transparent;
    }
  }
  .placeholder {
    position: absolute;
    font-weight: 500;
    top: 20px;
    left: 30px;
    font-size: 16px;
    transition: all 0.2s ease;
    pointer-events: none;
    color: #686b6e;
  }
  &.focus {
    .placeholder {
      top: 5px;
      font-size: 11px;
      color: #444444;
    }
    .input {
      padding-top: 10px;
      &.textarea {
        padding-top: 20px;
      }
    }
  }
}

.btn_orange {
  height: 60px;
  background-color: #f9a54e;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  border: none;
  padding: 0;
}

.title_vert {
  white-space: nowrap;
  transform: rotate(-90deg) translateY(-50%);
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.52px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: 50%;
}

.btn_write_to_us {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 61px;
  background-color: #f9a54e;
  border: none;
  padding: 0;
  z-index: 4;
  overflow: visible;
  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 39px;
    height: 92px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../../images/pip.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
  .text {
    display: block;
    transform: rotate(-90deg) translateY(-40px);
    width: 140px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    position: relative;
    z-index: 1;
  }
}


.info_blocks {
  margin-bottom: 77px;
  .info_block {
    padding-left: 160px;
    position: relative;
    z-index: 2;
    &__value {
      font-size: 80px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 8px;
      position: absolute;
      top: 0;
      left: 0;
      &:after {
        content: '';
        display: block;
        width: 63px;
        height: 7px;
        background-color: #5aa3d2;
        position: absolute;
        bottom: -39px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__value_description {
      padding-top: 8px;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 700;
      line-height: 32.49px;
      text-transform: uppercase;
      letter-spacing: 2.46px;
      margin-bottom: 30px;
      width: 300px;
    }
    &__description {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      width: 400px;
    }
    &:nth-child(2) {
      margin-left: 10%;
      padding-top: 80px;
      margin-bottom: 140px;
      .info_block__value {
        top: 80px;
      }
    }
    &:nth-child(3) {
      width: 100%;
      margin-left: 30%;
      margin-bottom: 100px;
      .info_block__value {
        left: 0;
      }
    }
    &:nth-child(4) {
      width: 100%;
      margin-left: 10%;
      .info_block__value {
        left: 0;
      }
    }
  }
}

.services {
  margin-bottom: 230px;
  .bg_waves {
    height: 360px;
  }
  .cover {
    margin-bottom: 38px;
  }
  h2 {
    margin-bottom: 58px;
    font-size: 24px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.52px;
  }
  .service {
    margin-bottom: 38px;
    .img_wrap {
      position: relative;
      overflow: hidden;
      &.is_visible {
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: calc(100% - 39px);
          background-color: #599bcb;
          animation: show_img_bg  1.3s 1 ease;
        }
        .img {
          animation: show_img  1.3s 1 ease forwards;
        }
      }
    }
    .img {
      display: block;
      margin-bottom: 39px;
      transform: translateX(-20px);
      opacity: 0;
    }
    .link {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      line-height: 1;
      &:before {
        content: '. '
      }
    }
  }
}

@keyframes show_img_bg {
  from {width: 0;}
  50% {width: 100%;}
  to {width: 0}
}

@keyframes show_img {
  from {opacity: 0;}
  49% {opacity: 0;}
  50% {opacity: 1;transform: translateX(-20px);}
  to {opacity: 1;transform: translateX(0);}
}

.gallery {
  margin-bottom: 137px;
  &__background {
    position: absolute;
    width: 680px;
    height: 170px;
    top: -170px;
    right: 20px;
    z-index: -1;
  }
  .pagination {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    &__pages {
      margin-bottom: -20px;
      width: 100%;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
        width: 100%;
        height: 40px;
      }
      .n_page {
        flex-shrink: 0;
        color: #003e6b;
        font-size: 16px;
        font-weight: 400;
        line-height: 3;
        background-color: transparent;
        border: none;
        white-space: nowrap;
      }
    }
    .now_page {
      color: #003e6b;
      font-size: 24px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 2.4px;
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: transparent;
      border: none;
    }
  }
  .gallery_slider {
    position: relative;
    &_page {
      position: absolute;
      bottom: -55px;
      left: 0;
      text-align: center;
      width: 100%;

      color: #003e6b;
      font-size: 24px;
      font-weight: 700;
      line-height: 40px;
      text-transform: uppercase;
      letter-spacing: 2.4px;
    }
  }
  .slick-arrow {
    padding: 0;
    left: -95px;
    bottom: 0;
    top: auto;
    position: absolute;
    color: transparent;
    overflow: hidden;
    right: auto;
    border-width: 30px 15px;
    width: 30px;
    height: 60px;
    z-index: 3;
    border-color: transparent;
    background-color: transparent;
    &.slick-next {
      border-bottom-color: #dcddda;
      transform: translateY(-30px);
      right: 100px;
      bottom: 80px;
      &:hover {
        border-bottom-color: #5aa3d2;
      }
    }
    &.slick-prev {
      border-top-color: #dcddda;
      transform: translateY(30px);
      right: 100px;
      &:hover {
        border-top-color: #5aa3d2;
      }
    }
  }
}

.bracelet {
  margin-bottom: 74px;
  .text {
    line-height: 26px;
  }
}

.tariffs {
  padding-bottom: 119px;
  position: relative;
  z-index: 1;
  .tariffs_cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 82px;
    margin-left: -5px;
    margin-right: -5px;
  }
  .tariffs_card {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 33.3%;
    &__img {
      margin-bottom: 35px;
    }
    &__name {
      position: relative;
      font-size: 19px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      margin-bottom: 38px;
      &:after {
        content: '';
        display: block;
        width: 64px;
        height: 7px;
        background-color: #5aa3d2;
        margin: 39px auto 0;
      }
    }
    &__prices {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
    }

  }
}



.video_wrap {
  overflow: hidden;
  width: 40%;
  height: 800px;
  transition: all 0.5s ease;
  position: absolute;
  top: 200px;
  right: 0;
  z-index: 2;
  .video {
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: -200px;
    right: 0;
    transition: all 0s ease;
    height:auto;
    opacity: 0;
    visibility: hidden;
    @supports (object-fit: cover){
      height:100vh;
    }
    /* ie edge only gets the following rule */
    @supports (object-fit: cover) and (-ms-ime-align:auto) {
      height: auto;
    }

    &.in_active {
      opacity: 1;
      visibility: visible;
    }
    &.is_hover {
      transition: all 0.5s ease;
    }
  }
}
.hover {
  position: absolute;
  top: 200px;
  right: 0;
  z-index: 40;
  width: 40%;
  height: 800px;
  opacity: 0;
  &:hover ~ .video_wrap {
    top: 0;
    width: 100vw;
    height: 100vh;
    .video {
      top: 0 !important;
    }
  }
}

.main_slider {
  position: relative;
  padding-top: 305px;
  margin-bottom: 246px;
  z-index: 1;
  .slider_page {
    color: #003e6b;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    text-align: right;
    padding-right: 75px;
  }
  .slide_header {
    color: #003766;
    font-size: 57px;
    font-weight: 800;
    line-height: 83.26px;
    text-transform: uppercase;
    letter-spacing: 4.1px;
    margin-bottom: 75px;
    text-align: center;
    @media all and (max-width: 1550px) {
      font-size: 48px;
    }
    @media all and (max-width: 1300px) {
      font-size: 38px;
      line-height: 60px;
    }
    b {
      font-size: 119px;
      letter-spacing: 9.64px;
      display: block;
      padding-top: 5px;
      @media all and (max-width: 1550px) {
        font-size: 100px;
      }
      @media all and (max-width: 1300px) {
        font-size: 80px;
      }
    }
  }
  .text {
    color: #5aa3d2;
    font-size: 16px;
    font-weight: 500;
    line-height: 34.42px;
    text-transform: uppercase;
    width: 300px;
    text-align: right;
    margin: 0 0 95px auto;
    @media all and (max-width: 1550px) {
      font-size: 14px;
    }
  }
  .slick-arrow {
    padding: 0;
    width: 60px;
    height: 30px;
    border-width: 15px 30px;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    overflow: hidden;
    color: transparent;
    transition: all 0.3s ease;
    position: absolute;
    bottom: -35px;
    right: 14px;
    &.slick-prev {
      border-right-color: #dcddda;
      transform: translateX(-30px);
      right: 100px;
      &:hover {
        border-right-color: #5aa3d2;
      }
    }
    &.slick-next {
      border-left-color: #dcddda;
      transform: translateX(30px);
      &:hover {
        border-left-color: #5aa3d2;
      }
    }
  }
  .main_header_slider_wraper {
    position: relative;
    .main_header_slider_page {
      display: none;
      position: absolute;
      bottom : 180px;
      line-height: 30px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;

      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 2.4px;
    }
  }
  .main_header_slider {
    .slick-arrow {
      position: absolute;
      background-color: transparent;
      bottom: 180px;
      z-index: 1;
      
      width: 60px;
      height: 30px;
      overflow: hidden;
      border-width: 15px 30px;
      border-style: solid;
      border-color: transparent;
  
      color: transparent;
      padding: 0;
      &.slick-next {
        left: 60%;
        border-left-color: #FFFFFF;
      }
      &.slick-prev {
          right: 60%;
          border-right-color: #FFFFFF;
      }
    }
  }
}

.slide_waves {
  position: absolute;
  top: 8px;
  width: 100%;
  height: 573px;
  z-index: -1;
}


.main_block {
  position: relative;
  width: 100%;
  .img_wrap {
    height: 100%;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: 0.3;
    }
  }
  &__img {
    width: 100%;
    height: auto;
  }
  &__container {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding-top: 100px;
    .h1 {
      font-size: 96px;
      font-weight: 800;
      line-height: 96px;
      letter-spacing: 1.97px;
      text-transform: uppercase;
      margin-bottom: 44px;
      text-align: center;
      padding-left: 70px;
      padding-right: 70px;
      width: 100%;
      @media all and (max-width:1350px) {
        font-size: 88px;
      }
    }
    .description {
      font-size: 16px;
      font-weight: 500;
      line-height: 28px;
      max-width: 520px;
      text-align: center;
    }
  }
}


.h2 {
  color: #5aa3d2;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  &.big {
    color: #003e6b;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 2.28px;
    position: relative;
    line-height: 1.3;
    &:after {
      content: '';
      display: block;
      width: 60px;
      height: 4px;
      background-color: #5aa3d2;
      position: absolute;
      left: 0;
      bottom: -50px;
    }
  }
}

.paragraf {
  color: #686b6e;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}


.list {
  list-style: none;
  &__item {
    position: relative;
    color: #686b6e;
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    padding-left: 30px;
    &:before {
      position: absolute;
      left: 0;
      top: 10px;
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: #5aa3d2;
      border-radius: 50%;
    }
  }
}


.main_form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #599bcb, $alpha: 0.8);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 200px;
  z-index: 21;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-150px);
  transition: all 0.3s ease;
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-image: url('../../images/wave.png');
  }
  &.is_visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  .btn_close {
    border: none;
    padding: 12px 0;
    height: 30px;
    background-color: transparent;
    z-index: 23;
    position: fixed;
    top: 24px;
    right: 20px;
    .line {
      position: relative;
      background-color: transparent;
      width: 32px;
      &:after, &:before {
        content: '';
        width: 32px;
        height: 6px;
        background-color: #FFFFFF;
        display: block;
        border-radius: 4px;
        transition: all 0.3s ease;
      }
      &:after, &:before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: rotate(-45deg);
        top: 50%;
      }
      &:before {
        top: 50%;
        transform: rotate(45deg);

      }
    }
  }
  .form {
    .input_wrap {
      margin-bottom: 40px;
    }
    .textarea {
      height: 180px;
    }
    .checkbox {
      margin-bottom: 40px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      cursor: pointer;
      input {
        display: none;
      }
      .label {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        cursor: pointer;

        &:before {
          content: '';
          display: block;
          width: 40px;
          height: 40px;
          background-color: #FFFFFF;
          margin-right: 20px;
        }
      }
      input:checked ~ .label {
        &:before {
          background-image: url('../../images/checked.png');
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
    .btn_orange {
      width: 100%;
    }
  }
}

.img_slider_wrap {
  position: relative;
  margin-bottom: 108px;
  .img_slider_page {
    position: absolute;
    bottom: 40px;
    line-height: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
    z-index: 2;

    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
  }
  .img_slider {
    position: relative;
    .img {
      margin-bottom: 0 !important;
    }
    .slick-arrow {
      position: absolute;
      background-color: transparent;
      bottom: 40px;
      z-index: 1;
      width: 60px;
      height: 30px;
      overflow: hidden;
      border-width: 15px 30px;
      border-style: solid;
      border-color: transparent;
      color: transparent;
      padding: 0;
      &.slick-next {
        left: 60%;
        border-left-color: #FFFFFF;
      }
      &.slick-prev {
          right: 60%;
          border-right-color: #FFFFFF;
      }
    }
  }
}


.p_contacts {
  padding-top: 200px;
  .h2.big {
    text-align: center;
    margin-bottom: 38px;
  }
}