.p_gallery {
  // height: 100vh;
  // .main_block {
  //   height: 100%;
  // }
  .gallery_page_slider {
    height: 100%;
    .slick-list {
      height: 100% !important;
      .slick-track {
        height: 100% !important;
      }
    }
    .slick-arrow {
      position: absolute;
      top: 0;
      z-index: 1;
      height: 100%;
      width: 25%;
      color: transparent;
      border: none;
      padding: 0;
      background-color: transparent;
      &:after {
        opacity: 0;
        content: '';
        display: block;
        width: 60px;
        height: 70px;
        overflow: hidden;
        border-width: 35px 30px;
        border-style: solid;
        border-color: transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        transition: all 0.3s ease;
        padding: 0;
      }
      &:hover {
        &:after {
          opacity: 1;
        }
      }
      &.slick-next {
        right: 0;
        &:after {
          right: 100px;
          border-left-color: #FFFFFF;
        }
      }
      &.slick-prev {
        left: 0;
        &:after {
          left: 100px;
          border-right-color: #FFFFFF;
        }
      }
    }
  }
  .gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    background-color: #FFFFFF;
    z-index: 10;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-100px);
    transition: all 0.3s ease;

    &.is_visible {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    .btn_close {
      position: fixed;
      top: 40px;
      right: 60px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      padding: 0;
      border: none;
      background-color: #FFFFFF;
      background-image: url('../../images/close.png');
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 11;
    }
    &__img {
      display: block;
      width: 33.33%;
      object-fit: cover;
      transition: all 0.3s ease;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.btn_gallery {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  .circles {
    position: relative;
    &, &:after, &:before {
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #FFFFFF;
    }
    &:after, &:before {
      position: absolute;
    }
    &:after {
      left: -18px;
    }
    &:before {
      left: 18px;
    }


  }
}