.header {
  margin-bottom: 39px;
  .btn_show_nav {
    display: none;
    border: none;
    padding: 12px 0;
    height: 30px;
    background-color: transparent;
    z-index: 12;
    position: relative;
    .line {
      position: relative;
      &, &:after, &:before {
        content: '';
        width: 32px;
        height: 6px;
        background-color: #FFFFFF;
        display: block;
        border-radius: 4px;
        transition: all 0.3s ease;
      }
      &:after, &:before {
        position: absolute;
        top: 10px;
        left: 0;
      }
      &:before {
        top: -10px;
      }
    }
    &.is_active {
      .line {
        background-color: transparent;
        &:after {
          transform: rotate(-45deg);
          top: 50%;
        }
        &:before {
          transform: rotate(45deg);
          top: 50%;
        }
      }
    }
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 37px;
    padding-bottom: 26px;
    background-color: #ffffff;
    z-index: 4;
    &__list {
      width: 100%;
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    &__link {
      font-size: 12px;
      font-weight: 500;
      padding-bottom: 11px;
      text-transform: uppercase;
      border-bottom: 0 solid #5aa3d2;
      transition: all 0.3s ease;
      &:hover {
        border-bottom-width: 7px;
      }
      @media all and (max-width: 1110px) {
        font-size: 10px;
      }
    }
  }

  .logo {
    width: 76px;
    height: 76px;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 95px;
    transform: translateX(-50%);
    .link {
      display: block;
      width: 100%;
      height: 100%;
      background-image: url('../../images/logo.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &.white {
    margin: 0;
    background-color: transparent;
    .nav {
      background-color: transparent;
      &__link {
        color: #ffffff;
      }
    }
    .logo {
      .link {
        background-image: url('../../images/logo_white.svg');
      }
    }
    &.dark {
      .nav {
        background-color: #FFFFFF;
        &__link {
          color: #003e6b;
        }
      }
    }
  }
}