.p_summer {
  .main_block {
    margin-bottom: 143px;
  }
  .bg_waves {
    top: -143px;
  }
  .h2 {
    margin-bottom: 57px;
  }
  .paragraf {
    margin-bottom: 108px;
  }
  .img_wrap {
    margin-bottom: 108px;
  }
  .list {
    margin-bottom: 38px;
  }
}

.requisites {
  background-color: #dcddda;
  padding: 65px 0;
  &__item {
    color: #003e6b;
    font-size: 16px;
    font-weight: 500;
    line-height: 48px;
  }
}