.p_vip {
  .h2 {
    margin-bottom: 58px;
  }
  .big {
    color: #003e6b;
    font-size: 32px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.01px;
    margin-top: 103px;
    &:after {
      display: none;
    }
  }
  .paragraf {
    margin-bottom: 119px;
  }
  .img_wrap {
    margin-bottom: 119px;
    &.mb_none {
      margin-bottom: 0;
    }
  }
  .b_list {
    padding-top: 36px;
  }
  .list {
    &__item {
      color: #686b6e;
      font-size: 16px;
      font-weight: 500;
      line-height: 28px;
    }
  }
  .capacity_block {
    padding-top: 120px;
  }
  .capacity {
    display: flex;
    align-items: flex-start;
    &__item {
      width: 33%;
      .value {
        position: relative;
        display: flex;
        align-items: baseline;
        margin-bottom: 106px;
        &::after {
          content: '';
          position: absolute;
          display: block;
          bottom: -50px;
          left: 20px;
          width: 60px;
          height: 4px;
          background-color: #5aa3d2;
        }
        .val {
          color: #003e6b;
          font-size: 80px;
          font-weight: 700;
          line-height: 100px;
          text-transform: uppercase;
          letter-spacing: 8px;
          margin-right: 38px;
        }
        .name {
          color: #003e6b;
          font-size: 20px;
          font-weight: 700;
          line-height: 32.49px;
          text-transform: uppercase;
          letter-spacing: 2.46px;
        }
      }
      .description {
        color: #686b6e;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
      }
    }
  }
}