

/* Start:/bitrix/templates/site/components/bitrix/news/gallery_page/bitrix/news.list/.default/style.css?1597395553150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/site/components/bitrix/news/gallery_page/bitrix/news.list/.default/style.css?1597395553150 */
