//
// Grid Options
//
// To avoid your options getting overridden by an update,
// copy and paste the below options to your own sass file
// and include it before this file.

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        sm: 481px,
        md: 768px,
        lg: 1025px,
        xl: 1442px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        // sm: 400px,
        // md: 720px,
        // lg: 984px,
        xl: 1440px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 40px !default;

// END of Grid Options

// Bootstrap file imports
@import "grid/breakpoints/mixins/breakpoints";
@import "grid/bootstrap-grid";
@import "grid/sizing/utilities/sizing";
@import "grid/layout/utilities/spacing";
@import "grid/layout/mixins/visibility";
@import "grid/layout/utilities/visibility";