::selection {
	color: $color-white;
	background: $color-text;
}


html {
    position: relative;
	color: $color-text;
	line-height: 1.375;
	font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    &.wf-active {
        font-family: 'Helvetica', sans-serif;
    }
}


a {
	cursor: pointer;
	color: #003e6b;
	text-decoration: none;
	transition: color .3s, background-color .3s, border-color .3s;
    &:hover,
    &:focus {
        color: #5aa3d2;
        text-decoration: none;
    }

}


strong, b {
    font-weight: 700;
}


@include h1-h6_size;


%ul {
    counter-reset: my-counter;
    position: relative;
    list-style: none;
    & > li {
        padding-left: 2em;
        & + li {
            margin-top: .25em;
        }
    }
}


%ul-li {
    & > li {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: .5em;
            height: .5em;
            left: .75em;
            top: .5em;
            background: $color-marker;
            border-radius: 50%;
        }
    }
}


%ol-li {
    & > li {
        position: relative;
        counter-increment: my-counter;
        &:before {
            content: counter(my-counter) '.';
            position: absolute;
            min-width: 1em;
            text-align: center;
            left: .5em;
            color: $color-marker;
        }
    }
}


.typography {
    @include p;
    @include h1-h6_margin;
    ul,
    ol {
        @extend %ul;
    }
    ul {
        @extend %ul-li;
    }
    ol {
        @extend %ol-li;
    }
    blockquote:not([class]) {
        color: lighten($color-text, 20%);
        font-size: .8em;
        padding-top: .8rem;
        background: linear-gradient(90deg, $color-marker 100%, transparent 0) 0 0 no-repeat;
        background-size: 5em 0.3em;
        cite {
            font-style: italic;
        }
    }
    hr {
        margin: $hr-margin_typography
    }
}


.ul,
.ol {
    @extend %ul;
}


.ul {
    @extend %ul-li;
}


.ol {
    @extend %ol-li;
}


hr {
    clear: both;
    height: 1px;
    margin: 0;
    color: $color-marker;
    background: currentColor;
    border: 0;
}


fieldset {
    border: 0;
    padding: 0;
}


legend {
    padding: 0;
}


main {
	
    & > *:first-child {
        margin-top: 0 !important;
    }
	
    & > *:last-child {
        margin-bottom: 0 !important;
    }
	
}


.clear {
	clear: both;
}


.clearfix {
    @extend %clearfix;
}


.text {

	&-left {
		text-align: left;
	}

	&-right {
		text-align: right;
	}

	&-center {
		text-align: center;
	}

	&-overflow {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

    &-nowrap {
        white-space: nowrap;
    }
    
    &-uppercase {
        text-transform: uppercase;
    }

}

.block {

	&-left {
		float: left;
	}

	&-right {
		float: right;
	}

}


.overflow {
    
    &-hidden {
        overflow: hidden;
    }
    
    &-visible {
        overflow: visible !important;
    }
    
}


.inline {
	display: inline;
    
    &-block {
	
        &-top {
            vertical-align: top;
        }

        &-middle {
            vertical-align: middle;
        }

        &-bottom {
            vertical-align: bottom;
        }
    
    }
    
}

    
[class*="inline-block"] {
    display: inline-block;
}
    

.link {
    
    &-dotted {
	    border-bottom: 1px dashed;
    }
    
}