$color-text: #003e6b;                        // Цвет основного текста
$color-marker: lighten($color-text, 60%); // Цвет маркеров списков <ul>, <ol> и <blockquote>, <cite>

// Цвета сайта
$color-white: #fff;

$p-ul-ol-margin_typography: 1em 0; // Отступы у тегов <p>, <ul>, <ol>
$hr-margin_typography: 2em 0;      // Отступ у тега <hr>

$h1: (
	font-size: 3rem,
	line-height: 1.05,
	margin: 2rem 0 1rem
);

$h2: (
	font-size: 2.4rem,
	line-height: 1.25,
	margin: map-get($h1, margin)
);

$h3: (
	font-size: 1.9rem,
	line-height: 1.05,
	margin: map-get($h1, margin)
);

$h4: (
	font-size: 1.5rem,
	line-height: 1.05,
	margin: map-get($h1, margin)
);

$h5: (
	font-size: 1.3rem,
	line-height: 1.22222222,
	margin: map-get($h1, margin)
);

$h6: (
	font-size: 1rem,
	line-height: 1.22222222,
	margin: map-get($h1, margin)
);