/* SCSS Styles by html5-coder.com (call007@mail.ru) */

@import "variables",
		"extends",
		"functions",
		"mixins",
		"reset",
		"typography",
		"slick",
		// "slick-theme",
		"grid";

.main-block {
    position: relative;
    overflow: hidden;
    padding: 2em calc(50% - 450px);
}

[class*="grid-"] {
    & > [class*="col-"],
    & > .col {
        p {
            margin: 0;
            padding: 0.5em;
            background: #eee;
        }
        small {
            display: block;
        }
    }
    display: block;
}

@import "base/base";
@import "base/header";
@import "base/footer";
@import "base/summer";
@import "base/pool";
@import "base/vip";
@import "base/gallery";