

/* Start:/bitrix/templates/site/components/bitrix/news/slider/bitrix/news.list/.default/style.css?1597067638150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/site/components/bitrix/news/video/bitrix/news.list/.default/style.css?1597066605150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/site/components/bitrix/news/advantages/bitrix/news.list/.default/style.css?1597064115150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/site/components/bitrix/news/service/bitrix/news.list/.default/style.css?1597061011150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/site/components/bitrix/news/gallery/bitrix/news.list/.default/style.css?1597055691150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/templates/site/components/bitrix/news/rates/bitrix/news.list/.default/style.css?1597053262150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/site/components/bitrix/news/slider/bitrix/news.list/.default/style.css?1597067638150 */
/* /bitrix/templates/site/components/bitrix/news/video/bitrix/news.list/.default/style.css?1597066605150 */
/* /bitrix/templates/site/components/bitrix/news/advantages/bitrix/news.list/.default/style.css?1597064115150 */
/* /bitrix/templates/site/components/bitrix/news/service/bitrix/news.list/.default/style.css?1597061011150 */
/* /bitrix/templates/site/components/bitrix/news/gallery/bitrix/news.list/.default/style.css?1597055691150 */
/* /bitrix/templates/site/components/bitrix/news/rates/bitrix/news.list/.default/style.css?1597053262150 */
